only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=@scarf/scarf
only-built-dependencies[]=argon2
only-built-dependencies[]=prisma
only-built-dependencies[]=unrs-resolver
